.flexbox {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: justify;
  align-item: center;
  justify-content: space-around;
  padding-bottom: 25px;
  height: 500px;
}

.box {
  width: 500px;
  text-align: center;
  color: $or;
  background-color:rgba(76, 71, 66, 0.7);
  font-size: 25px;
  border-radius:5px;
  padding:15px;

}

.dashboard{
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;

}



