


<div id="container">

  <div class=""><h1>Bienvenue <%= current_user.username %></h1></div>
  <div class="flexbox">
    <div class="box">
        <p>ALL BOOKINGS</p>
    </div>

    <div class="box" >
        <p>MY BOOKINGS</p>
    </div>

    <div class="box" >
        <p>DEMAND BOOKINGS</p>
    </div>
  </div>
</div>





