h2 {
  font-size:48px;
  text-transform: capitalize;
  background-color: rgba(76, 71, 66, 0.2);
  margin:20px;
  color:$or;
  padding:15px;
  text-align: center;
}
.container {
  margin: 50px auto;
}
.card-shoes img{
  margin:8px;
}
.card-shoes{
text-align:center;
}
