.card-product {
  overflow: hidden;
  width: 200px;
  background: #4c4742;
  // display: flex;
  // align-items: center;
  list-style: none;
  border: 1px solid #D4AF37;
  margin: 3px;
  border-radius: 15px;

}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color:$or;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos a {
  padding: 12px;
  margin:5px;
}
