.navbar-lewagon {
  justify-content: space-between;
  background: #4c4742;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.navbar-light .navbar-nav .nav-link{
  color:#D4AF37;
  font-size:20px;
}
